  /* MODAL */

  dialog[open] {
    display: flex;
  }

  .modal-box {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 100dvh;
    width: 100dvw;
    z-index: 10;
    inset: 0;


    
    background-color: var(--sage50);
    border: solid 2px var(--pumpkin);
  }

    .project-modal {
        display: flex;
        flex-direction: column;

        /* justify-content: center; */
        align-items: center;

        border: solid 2px var(--olive);
        background-color: var(--sage);
        border-radius: 19px;

        padding: 19px;

        /* outline: 5px solid var(--olive); */
        width: 800px;
        height: 800px;

        inset: auto;

      }

      .modal-collums {
        display: flex;

        justify-content: center;

      }

      .modal-left {
        /* flex-grow: 1; */

      }

      .modal-right {

      }