


* {
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    max-width: 100%;
    padding: 0;
    margin: 0;
    color: black;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;

    width: 80%;
    border: 2px solid burlywood;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;

    padding: 9px;
    margin: 19px;
}

header nav ul {
    display: flex;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 9px;
    background-color: bisque;
}