
:root {
    --sepiaLightest: #eadbcb;
    --sepiaLight: #e3ceb9;
    --sepia: #dcc1a7;
    --sepiaDark: #d4b595;
    --sepiaDarkest: #cda882;
    --shadow: #b99a7c92;

}


* {
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: auto;

    background-image: url("../img/background.png");
    /* background-color: black; */

    /* border: solid 1px red; */
}




