:root {
    --darkGreen: #232f1a;
    --mossGreen: #232f1a;
    --fernGreen: #526D34;
    --olive: #7A802C;
    --sage: #B9B971;
    --vanilla: #F7F1B6;
    --pumpkin: #EE7629;
    --flame: #E75926;
    --chilliRed: #E03B22;
}